<!-- Element to inject OneBlink Calendar Booking Form into -->
<div id="oneblink-calendar-booking-form"></div>
<!-- Icons required in OneBlink Calendar Booking Form. -->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
<!-- Script to load window.OneBlinkForms. -->
<script src="{{scriptUrl}}"></script>
<!-- Script to inject OneBlink Calendar Booking Form into HTML element above. -->
<script>
  window.addEventListener('load', function () {
    // See https://github.com/oneblink/forms-cdn for documentation
    // on all of the options available when rendering a OneBlink Calendar Booking Form
    OneBlinkForms.renderCalendarBookingForm({
      selector: '#oneblink-calendar-booking-form',
      formsAppEnvironmentId: {{formsAppEnvironmentId}},
      formsAppId: {{formsAppId}},
      // Change these to a URL you wish to send your users too
      doneRedirectUrl: '',
    })
  })
</script>