<!-- Element to inject OneBlink Form into -->
<div id="oneblink-form"></div>
<!-- Icons required in OneBlink Form. -->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
<!-- Script to load window.OneBlinkForms. -->
<script src="{{scriptUrl}}"></script>
<!-- Script to inject OneBlink Form into HTML element above. -->
<script>
  window.addEventListener('load', function () {
    // See https://github.com/oneblink/forms-cdn for documentation
    // on all of the options available when rendering a OneBlink Form
    OneBlinkForms.render({
      selector: '#oneblink-form',
      formId: {{formId}},
      formsAppId: {{formsAppId}},
      // Change these to a URL you wish to send your users too
      submissionRedirectUrl: '',
      cancelRedirectUrl: '',
      // (Optional) The URL to redirect the user to for displaying a payment form. Only required if the form requires a payment using a custom form e.g. Westpac QuickStream.
      // paymentFormUrl: '',
      // (Optional) The URL to redirect the user to for displaying a calendar booking form. Only required if the form requires a calendar booking.
      // calendarBookingFormUrl: '',
      // (Optional) The URL to redirect the user to for displaying a calendar booking reschedule form. Only required if the form requires a calendar booking.
      // calendarBookingRescheduleFormUrl: '',
      // (Optional) The URL to redirect the user to for displaying a calendar booking cancel form. Only required if the form requires a calendar booking.
      // calendarBookingCancelFormUrl: '',
      // (Optional) An identifier to match the form submission with in your system.
      // externalId: '',
      // (Optional) The data to pre-fill the OneBlink Form.
      // preFillData: {},
      // (Optional) A token that was signed by a developer key to allow submitting private forms
      // token: ''
    })
  })
</script>