name: Production Deployment

on: [workflow_dispatch]

jobs:
  #
  # OneBlink Tenant
  #
  OneBlinkProduction:
    name: Production Deployment (OneBlink)
    runs-on: ubuntu-latest
    environment: OneBlink Production
    env:
      TENANT: 'oneblink'
      ENVIRONMENT: 'prod'
      PUBLIC_URL: https://oneblink-forms.cdn.oneblink.io
      ONEBLINK_ACCESS_KEY: ${{ secrets.ONEBLINK_ACCESS_KEY }}
      ONEBLINK_SECRET_KEY: ${{ secrets.ONEBLINK_SECRET_KEY }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: '24'
      - run: npm install --global npm@11
      - run: npm ci
      - run: npm run build
      - run: npx oneblink cdn scope oneblink-forms.cdn.oneblink.io
      - run: npx oneblink cdn deploy dist --env prod --force
  #
  # CivicPlus Tenant
  #
  CivicPlusProduction:
    name: Production Deployment (CivicPlus)
    runs-on: ubuntu-latest
    environment: CivicPlus Production
    env:
      TENANT: 'civicplus'
      ENVIRONMENT: 'prod'
      PUBLIC_URL: https://civicplus-forms.cdn.transform.civicplus.com
      ONEBLINK_ACCESS_KEY: ${{ secrets.ONEBLINK_ACCESS_KEY }}
      ONEBLINK_SECRET_KEY: ${{ secrets.ONEBLINK_SECRET_KEY }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: '24'
      - run: npm install --global npm@11
      - run: npm ci
      - run: npm run build
      - run: npx civicplus cdn scope civicplus-forms.cdn.transform.civicplus.com
      - run: npx civicplus cdn deploy dist --env prod --force
  #
  # OneBlink US Tenant
  #
  OneBlinkUSProduction:
    name: Production Deployment (OneBlink US)
    runs-on: ubuntu-latest
    environment: OneBlink US Production
    env:
      TENANT: 'oneblinkUS'
      ENVIRONMENT: 'prod'
      PUBLIC_URL: https://oneblink-forms.cdn.us.oneblink.io
      ONEBLINK_ACCESS_KEY: ${{ vars.ONEBLINK_ACCESS_KEY }}
      ONEBLINK_SECRET_KEY: ${{ secrets.ONEBLINK_SECRET_KEY }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: '24'
      - run: npm install --global npm@11
      - run: npm ci
      - run: npm run build
      - run: npx oneblink-us cdn scope oneblink-forms.cdn.us.oneblink.io
      - run: npx oneblink-us cdn deploy dist --env prod --force
